html, body{
    height: 100%;
    background-image: url(../img/bk-bj.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 导航栏 */
.nav{
    width: 100%;
    height: 50px;
    background-color: rgba(50, 50, 50, 0.2);
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
/* 导航栏中图片 */
.nav img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
/* 导航栏中小标题 */
.nav .title{
    width: 120px;
}
/* 导航栏中占位符 */
.nav .spacer{
    height: 40px;
    width: calc(100% - 370px);
}

.nav a{
    width: 60px;
    margin: 20px;
    text-decoration: none;
    color: white;
}

/* 轮播图 */
#dream-container{
    width:100%;
    height:400px;
    position: relative;
    top:0px;
    
}

.swiper {
    width: 350px;
    height: 450px;
    margin: auto;
    position: absolute;
    top:30px;
    --swiper-theme-color: #ff6600;
}  
.swiper  .swiper-slide{
    width: 800px;
    height: 400px;
}
.swiper-slide img{
    width:100%;
    height:100%;
    border-radius: 50px;
    
}

/* 工作区 */

#big-dream{
    width:700px;
    height:200px;
    margin: 100px auto;
    
  
}
.first-dream{
    width:100%;
    height:150px;
  /*   background-color: white; */
    margin-bottom:70px;
}
.first-dream .small{
    width:100%;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

/* 图片区采用网格布局 */
.first-dream .some-img{
    width:100%;
    height:70px;
    margin-top:10px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.some-img li{
    width:200px;
    height:150px;
    margin-left:30px;
    
}
.some-img li img{
    width:100%;
    height:100%;
    border-radius: 20px;
}
